<div class="modal" style="display:{{displayPopUp}};" id="addDealerToDealerTransfer" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="ng-scope close" type="button" ng-class="close" data-dismiss="modal" aria-label="Close"
                        ng-click="displayPopUp = 'none'"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Add Dealer To Dealer Transfer</h2>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <label title=FromDealerID>From Dealer : </label>
                    </div>

                    <div class="col-sm-4">
                        <dropdown-directive model="FromDealerID" datasource="LS_dealers" textfield="v_DealerName"
                                            valuefield="v_DealerID"></dropdown-directive>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <label title=ToDealerID>To Dealer : </label>
                    </div>

                    <div class="col-sm-4">
                        <dropdown-directive model="ToDealerID" datasource="LS_dealers" textfield="v_DealerName"
                                            valuefield="v_DealerID"></dropdown-directive>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <label title=Amount>Amount : </label>
                    </div>

                    <div class="col-sm-4">
                        <input type="text" ng-model="Amount"/>
                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <label title=ReferenceNumber>Reference Number : </label>
                    </div>

                    <div class="col-sm-4">
                        <input type="text" ng-model="ReferenceNumber"/>
                    </div>
                    <div class="col-sm-2"></div>
                </div>


            </div>

            <div class="modal-footer">
                <a class="btn btn-primary" type="button" ng-click="fnaddDealerToDealerTransfer();">Update<span
                        class="glyphicon glyphicon-ok"></span>
                </a>
                <input value="Close" class="btn" type="button" data-dismiss="modal" aria-label="Close"
                       ng-click="displayPopUp = 'none'"/>
            </div>
        </div>
    </div>
</div>

<div class="fieldset ng-scope">

    <h1 class="legend ng-binding"> Add Dealer To Dealer Transfer </h1>


    <button type="button" class="btn btn-primary" ng-click="displayPopUp = ''" data-toggle="modal"
            data-target="#addDealerToDealerTransfer">Add Dealer To Dealer Transfer
    </button>

</div>
