<form name="Form">
    <div class="fieldset">
        <!--<h1 class="legend"> Update Acc No Contact Info </h1>-->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <label title=AccnoUserName>User Name : </label>
            </div>

            <div class="col-sm-4">
                <input type="text" ng-model="AccnoUserName" ng-change="UserNameChange()" validator="required"/>

                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <label title=Password>Password : </label>
            </div>

            <div class="col-sm-4">
                <input type="password" ng-model="AccnoPassword"/>

                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <label title=CustomerName>Customer Name : </label>
            </div>

            <div class="col-sm-4">
                <input type="text" ng-model="CustomerName"/>

                <div class="col-sm-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <label title=Email>Email : </label>
            </div>

            <div class="col-sm-4">
                <input type="text" ng-model="Email"/>

                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <label title=Address>Address : </label>
            </div>

            <div class="col-sm-4">
                <input type="text" ng-model="Address"/>

                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <label title=City>City : </label>
            </div>

            <div class="col-sm-4">
                <input type="text" ng-model="City"/>

                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <label title=State>State : </label>
            </div>

            <div class="col-sm-4">
                <input type="text" ng-model="State"/>

                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <label title=Country>Country : </label>
            </div>

            <div class="col-sm-4">
                <input type="text" ng-model="Country"/>

                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <label title=Tel>Tel : </label>
            </div>

            <div class="col-sm-4">
                <input type="text" ng-model="Tel"/>

                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <label title=MobileNumber>Mobile Number : </label>
            </div>

            <div class="col-sm-4">
                <input type="text" ng-model="MobileNumber"/>

                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <label title=Fax>Fax : </label>
            </div>

            <div class="col-sm-4">
                <input type="text" ng-model="Fax"/>

                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <label title=PostalCode>Postal Code : </label>
            </div>

            <div class="col-sm-4">
                <input type="text" ng-model="PostalCode"/>

                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <label title=Company>Company : </label>
            </div>

            <div class="col-sm-4">
                <input type="text" ng-model="Company"/>

                <div class="col-sm-2"></div>
            </div>
        </div>


        <!-- <div class="row">
             <div class="col-sm-2"></div>
             <div class="col-sm-4">
                 <label title=InstrumentNumber>Account Type : </label>
             </div>

             <div class="col-md-4">-->
        <!--<dropdown-directive refresh=true ng-model="paymentmode12" datasource='{{[{" id":"1","value":"Prepaid"},{"id":"0","value":"Postpaid"}]}}'></dropdown-directive>-->
        <!--<select name="paymentmode12" ng-model="paymentmode12" ng-options="item[textfield] for item in items">
        <option value="1">Prepaid</option>
        <option value="2">PostPrepaid</option>
    </select>-->
        <!-- <select name="AccountType" ng-model="AccountType">
            <option>Prepaid</option>
            <option>Postpaid</option>
        </select>
        <div class="col-sm-2"></div>
    </div>
</div>
<div class="row" ng-show="AccountType=='Postpaid'">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <label title=CreditLimit>Credit Limit : </label>
    </div>

    <div class="col-sm-4">
        <input ng-model="creditLimit" />
        <div class="col-sm-2"></div>
    </div>
</div>-->
    </div>
</form>