<div class="modal" style="display:{{displayPopUp}};" id="updateTroubleTicketState" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="ng-scope close" type="button" ng-class="close" data-dismiss="modal" aria-label="Close"
                        ng-click="displayPopUp = 'none'"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Update Trouble Ticket State</h2>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-2"/>
                    <div class="col-sm-4">
                        <label title=Description>Message : </label>
                    </div>

                    <div class="col-sm-4">
                        <textarea ng-model="Description" style="margin: 0px; width: 275px; height: 133px;"/>
                    </div>
                    <div class="col-sm-2"/>
                </div>

                <div class="row" ng-show="adminID">
                    <div class="col-sm-2"/>
                    <div class="col-sm-4">
                        <label title=InternalAdminNotes>Internal Admin Notes : </label>
                    </div>

                    <div class="col-sm-4">
                        <textarea ng-model="InternalAdminNotes" style="margin: 0px; width: 275px; height: 133px;"/>
                    </div>
                    <div class="col-sm-2"/>
                </div>
                <div class="row" ng-show="adminID">
                    <div class="col-sm-2"/>
                    <div class="col-sm-4">
                        <label title=AssignedToAdminID>Assigned To Admin : </label>
                    </div>

                    <div class="col-sm-4">
                        <dropdown-directive model="AssignedToAdminID" datasource="LS_administrators"
                                            textfield="v_UserName" valuefield="v_AdministratorID"></dropdown-directive>
                    </div>
                    <div class="col-sm-2"/>
                </div>

                <div class="row" ng-show="adminID">
                    <div class="col-sm-2"/>
                    <div class="col-sm-4">
                        <label title=TroubleTicketStateID>Trouble Ticket State : </label>
                    </div>

                    <div class="col-sm-4">
                        <dropdown-directive model="TroubleTicketStateID" datasource="LS_troubleticketstates"
                                            textfield="v_TroubleTicketState"
                                            valuefield="v_TroubleTicketStateID"></dropdown-directive>
                    </div>
                    <div class="col-sm-2"/>
                </div>
            </div>

            <div class="modal-footer">

                <a ng-show="showclsbtn" class="btn btn-primary" type="button" ng-click="fncloseTroubleTicketState();">Close
                    Ticket<span class="glyphicon glyphicons-remove-2"></span>
                </a>

                <a class="btn btn-primary" type="button" ng-click="fnupdateTroubleTicketState();">Update<span
                        class="glyphicon glyphicon-ok"></span>
                </a>
                <input value="Close" class="btn" type="button" data-dismiss="modal" aria-label="Close"
                       ng-click="displayPopUp = 'none'"/>
            </div>
        </div>
    </div>
</div>

<div class="ng-scope">

    <h1 class="legend"> Update Trouble Ticket State </h1>

    <button type="button" class="btn btn-primary" ng-click="displayPopUp = ''" data-toggle="modal"
            data-target="#updateTroubleTicketState">Update Trouble Ticket State
    </button>

</div>
